//containers
.container{
    max-width: 875px;
    margin: 0 auto;
    padding: 0 10px;
}
.header-container{
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}
.flex-btw{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//txt
//txt
.txt{
    //color
    &--black{
        color: $black;
    }
    &--dark{
        color: $dark;
    }
    &--white{
        color: $white;
    }
    &--blue{
        color: $blue;
    }
    &--grey{
        color: $grey;
    }
    //font-size
    &--h1{
        font-size: $font-size--h1;
    }
    &--xxl{
        font-size: $font-size--xxl;
    }
    &--xl{
        font-size: $font-size--xl;
    }
    &--lg{
        font-size: $font-size--lg;
    }
    &--md{
        font-size: $font-size--md;
    }
    &--sm{
        font-size: $font-size--sm;
    }
    &--xsm{
        font-size: $font-size--xsm;
    }
    &--18{
        font-size: $font-size--18;
    }
    &--16{
        font-size: $font-size--16;
    }
    &--14{
        font-size: $font-size--14;
    }
    //align and uppercase
    &--center{
        text-align: center;
    }
    &--uppercase{
        text-transform: uppercase;
    }
    //font-weight
    &--400{
        font-weight: 400;
    }
    &--500{
        font-weight: 500;
    }
    &--700{
        font-weight: 700;
    }
    &--900{
        font-weight: 900;
    }
}
//bgc-color
.bgc-light{
    background-color: $light;
}
.bgc-white{
    background-color: $white;
}
//transition
.tr{
    transition: all .3s ease;
}