//color
$light: #EDF7FA;
$white: #FFFFFF;
$dark: #21243D;
$black: #000000;
$blue: #00A8CC;
$blue-dark: #142850;
$grey: #8695A4;
$red-light: #FF6464;
//font-size:
$font-size--h1: 44px;
$font-size--xxl: 34px;
$font-size--xl: 30px;
$font-size--lg: 26px;
$font-size--md: 24px;
$font-size--sm: 22px;
$font-size--xsm: 20px;
$font-size--18: 18px;
$font-size--16: 16px;
$font-size--14: 14px;